input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.FormArea {
    width: 50%;
    margin: 10% auto;
    padding: 5%;
    border: 4px black solid;
    border-radius: 7px;
}
.form-group {
    margin: 20px;
}
